.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.light .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dark .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.light .App-link {
  color: #61dafb;
}

.dark .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*############################### General ######################################*/
/*---------------  General -----------------*/
.light body {
  background-color: rgb(206, 206, 206);
}

body.dark {
  background-color: rgb(32, 37, 48);
}

/*---------------  Menu -----------------*/
.light .menu {
  margin-bottom: 20px;
}

.dark .menu {
  margin-bottom: 20px;
}

.light .menu-top {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.dark .menu-top {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.light .main-title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  justify-content: center;
  margin: auto;
}

.dark .main-title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  justify-content: center;
  margin: auto;
  color: rgb(243, 243, 243);
}

.light .menu-darkmode-switch {
  text-align: right;
  padding-right: 5%;
  margin-top: -40px;
}

.dark .menu-darkmode-switch {
  text-align: right;
  padding-right: 5%;
  margin-top: -40px;
}

.light .menu-buttons {
  margin: auto;
}
.dark .menu-buttons {
  margin: auto;
}

.light .sub-menu-buttons{
  margin-bottom: 30px;
}

.dark .sub-menu-buttons{
  margin-bottom: 30px;
}
/*---------------  buttons -----------------*/

 .light button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  background-color: #f3f3f3;
  color: #242a4b;
  border: #242a4b;
}
.dark button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  background-color: #f3f3f3;
  color: #242a4b;
  border: #242a4b;
}

.light button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: #242a4b;
  color: #f3f3f3;
  border: #242a4b;
}
.dark button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedOutlined.MuiButtonGroup-groupedOutlinedHorizontal.MuiButtonGroup-groupedOutlinedPrimary.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: #243383;
  color: #f3f3f3;
  border: #243383;
}

.light #root > div > div.content > div > div.file-input > div > button:disabled {
  background-color: #6c6f79;
  color: #b1b1b1;
  border: #6c6f79;
}
.dark #root > div > div.content > div > div.file-input > div > button:disabled {
  background-color: #6a6c70;
  color: #242a4b;
  border: #6a6c70;
}


.light div.content > div > div.file-input > div > label{
  color: #f3f3f3;
  background-color: #242a4b;
}
.dark div.content > div > div.file-input > div > label{
  color: #243383;
  background-color: #f3f3f3;
}

.light div.content > div > div.file-input > div > label > span.MuiButton-startIcon.MuiButton-iconSizeMedium.css-1d6wzja-MuiButton-startIcon > svg{
  color: #f3f3f3;
}
.dark div.content > div > div.file-input > div > label > span.MuiButton-startIcon.MuiButton-iconSizeMedium.css-1d6wzja-MuiButton-startIcon > svg{
  color: #243383;
}

.light div > div.file-input > div > button{
  background-color: #242a4b;
}
.dark div > div.file-input > div > button{
  color: #243383;
  background-color: #f3f3f3;
}

.dark div.content > div > div.file-input > div > button > span.MuiButton-startIcon.MuiButton-iconSizeMedium.css-1d6wzja-MuiButton-startIcon > svg{
  color: #243383;
}



/*---------------  content -----------------*/
.light .content {
  margin-top: 20px;
}
.dark .content {
  margin-top: 20px;
}

.dark span {
  color: rgb(233, 233, 233);
}

/*############################### CV Displayer ######################################*/


.light .CVDisplayer {
  margin: auto;
  width: 100%;
}
.dark .CVDisplayer {
  margin: auto;
  width: 100%;
  color: rgb(212, 212, 212);
}

/* ----------------- header ----------------------- */
.light .file-input {
  margin: auto;
  width: 90%;
  text-align: left;
}
.dark .file-input {
  margin: auto;
  width: 90%;
  text-align: left;
}

.light .file-input-span {
  margin-left: 20px;
  margin-top: 5px;
}
.dark .file-input-span {
  margin-left: 20px;
  margin-top: 5px;
}

.light .file-input-buttons {
  display: flex;
  margin-left: 20px;
}
.dark .file-input-buttons {
  display: flex;
  margin-left: 20px;
}

/* ----------------- section ----------------------- */
.light .all-sections {
  margin: auto;
  width: 65%;
  max-width: 1000px;
}
.dark .all-sections {
  margin: auto;
  width: 65%;
  max-width: 1000px;
}

/* .light .section-div {} */
/* .dark .section-div {} */

/* .light .subsection-div {} */
/* .dark .subsection-div {} */

/* .light .section-content-container {} */
/* .dark .section-content-container {} */

.light .section-grand-parent-div {
  height: 80%;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: left;
  display: flex;
  align-items: center;
}
.dark .section-grand-parent-div {
  height: 80%;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: left;
  display: flex;
  align-items: center;
}

/* .light .section-parent-div {} */
/* .dark .section-parent-div {} */

/* .light .section-title-div {} */
/* .dark .section-title-div {} */

.light .section-div .section-main-title {
  margin-left: -30px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20pt;
}
.dark .section-div .section-main-title {
  margin-left: -30px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20pt;
}


.light .subsection-div .section-main-title {
  margin-left: -10px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16pt;
}.dark .subsection-div .section-main-title {
  margin-left: -10px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16pt;
}


/* ----------------- Title -------------------------- */
/* .light .section-title-div {} */
.dark .section-title-div {
  color: rgb(240, 240, 240);
}

/* .light .section-title {} */
/* .dark .section-title {} */



/* ----------------- Text -------------------------- */

/* .light .section-text-div {} */
/* .dark .section-text-div {} */

.light .section-text {
  text-align: justify;
  text-justify: inter-word;
}
.dark .section-text {
  text-align: justify;
  text-justify: inter-word;
}



/* ----------------- link -------------------------- */


.light .section-link-div {
  padding-top: 0px;
  padding-bottom: 0px;
}
.dark .section-link-div {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* .light .section-link {} */
/* .dark .section-link {} */

.light a:-webkit-any-link {
  text-decoration: none !important;
  font-style: italic;
  color: rgb(42, 10, 121);
}
.dark a:-webkit-any-link {
  text-decoration: none !important;
  font-style: italic;
  color: rgb(177, 186, 238);
}

.light a:-webkit-any-link:hover {
  text-decoration: none !important;
  font-style: italic;
  font-weight: 700;
  color: rgb(42, 10, 121);
}
.dark a:-webkit-any-link:hover {
  text-decoration: none !important;
  font-style: italic;
  font-weight: 700;
  color: rgb(178, 186, 228);
}


/* ----------------- list -------------------------- */

/* .light .section-list-div {} */
/* .dark .section-list-div {} */

.light .section-list-element-div {
  margin-left: 20px;
}
.dark .section-list-element-div {
  margin-left: 20px;
}

.light .section-list-element {
  margin-top: 7px;
  margin-bottom: 7px;
}
.dark .section-list-element {
  margin-top: 7px;
  margin-bottom: 7px;
}




/* ----------------- image -------------------------- */





/* -------------------------- mobile -------------------------- */

@media only screen and (max-width: 700px) {
  .all-sections {
    min-width: 100%;
    width: 100%;
  }

  .menu-darkmode-switch {
    text-align: center;
    padding-bottom: 5px;
    margin: auto;
  }
}