.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*############################### General ######################################*/
/*---------------  General -----------------*/
body{
  background-color: rgb(6, 3, 128);
}

/*---------------  Menu -----------------*/
.menu {
  margin-bottom: 20px;
}

.menu-top {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.main-title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  justify-content: center;
  margin: auto;
}

.menu-darkmode-switch {
text-align: right;
padding-right: 5%;
margin-top: -40px;
}

.menu-buttons {
  margin: auto;
}




/*---------------  content -----------------*/
.content {
  margin-top: 20px;
}


/*############################### CV Displayer ######################################*/


.CVDisplayer {
  margin: auto;
  width: 100%;
}

/* ----------------- header ----------------------- */
.file-input {
  margin: auto;
  width: 90%;
  text-align: left;
}

.file-input-span {
  margin-left: 20px;
  margin-top: 5px;
}

.file-input-buttons {
  display: flex;
  margin-left: 20px;
}

/* ----------------- section ----------------------- */
.all-sections {
  margin: auto;
  /* background-color: brown; */
  /*! test colors */
  width: 65%;
  max-width: 1000px;

}

.section-div {}

.subsection-div {}

.section-content-container {
  /* background-color: rgb(73, 60, 60); */
  /*! test colors */
}

.section-grand-parent-div {
  height: 80%;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  text-align: left;
  /* background-color: aqua; */
  /*! test colors */
  display: flex;
  align-items: center;
}

.section-parent-div {
  /* background-color: yellow; */
  /*! test colors */
}

.section-title-div {
  /* background-color: rgb(59, 235, 83); */
  /*! test colors */
}

.section-div .section-main-title {
  /* background-color: rgb(241, 28, 28); */
  /*! test colors */
  margin-left: -30px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20pt;

}

.subsection-div .section-main-title {
  /* background-color: rgb(216, 103, 103); */
  /*! test colors */
  margin-left: -10px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16pt;

}


/* ----------------- Title -------------------------- */
.section-title-div {
  /* background-color: rgb(59, 235, 83); */
  /*! test colors */
}

.section-title {}



/* ----------------- Text -------------------------- */

.section-text-div {
  /* background-color: rgb(59, 235, 83); */
  /*! test colors */
}

.section-text {
  text-align: justify;
  text-justify: inter-word;
}



/* ----------------- link -------------------------- */


.section-link-div {
  /* background-color: rgb(59, 235, 83); */
  /*! test colors */
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-link {}

a:-webkit-any-link {
  text-decoration: none !important;
  font-style: italic;
  color: rgb(42, 10, 121);
}

a:-webkit-any-link:hover {
  text-decoration: none !important;
  font-style: italic;
  font-weight: 700;
  color: rgb(42, 10, 121);
}


/* ----------------- list -------------------------- */

.section-list-div {
  /* background-color: rgb(59, 235, 83); */
  /*! test colors */
}

.section-list-element-div {
  margin-left: 20px;
}

.section-list-element {
  margin-top: 7px;
  margin-bottom: 7px;
}




/* ----------------- image -------------------------- */





/* -------------------------- mobile -------------------------- */

@media only screen and (max-width: 700px) {
  .all-sections {
    min-width: 100%;
    width: 100%;
  }

  .menu-darkmode-switch {
    text-align: center;
    padding-bottom: 5px;
    margin: auto;
    }
}